# These files are normal build system artifacts
*.[ao]
*.cc-tst
*.gcda
*.gcno
*.gcov
*.oct
*.tar.gz
*.zip
NEWS
PKG_ADD
PKG_DEL
fntests.log
octave-workspace

# Local configuration files to influence Octave and pyenv
.octaverc
.python-version

# This directory contains Doxygen generated documentation
/doc/
